.buttonGroup {
  display: flex;
  align-items: center;
  > button,
  > a {
    margin-right: 0.6rem;
  }
}

.viewContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
  padding: 0 0.4rem;
  min-height: 4rem;
  .title {
    min-width: 14rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  input {
    font-size: 0.875rem;
    font-weight: 400;
  }
}

.ImgSelect,
.VideoSelect,
.FileSelect {
  display: flex;
  align-items: center;
  .preview {
    margin-left: 1.4rem;
    width: 18rem;
    display: block;
  }
}
