.buttonGroup {
  display: flex;
  justify-content: space-around;
}

.viewContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
  padding: 0 0.4rem;
  min-height: 4rem;
  .title {
    min-width: 14rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.ImgSelect {
  display: flex;
  align-items: center;
  .preview {
    margin-left: 1.4rem;
    width: 18rem;
    display: block;
  }
}
